* {
  padding: 0;
  margin: 0;
}

.imageContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.imageContainer {
  padding: 50;
  height: 60%;
}

.imagecontainer {
  background-color: aqua;
}
